.grid-map-container {
    flex: 0 0 auto;
    padding: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
}

.number-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    margin-right: 0.5rem;
    font-size: 0.7rem;
    /* text-shadow: 0 0 5px rgba(255, 51, 0, 0.8); */
}

.letter-axis {
    display: flex;
    justify-content: space-around;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    /* text-shadow: 0 0 5px rgba(255, 51, 0, 0.8); */
}

.gameboard-wrapper {
    position: relative;
    height: calc(var(--cell-size) * var(--board-size));
    width: calc(var(--cell-size) * var(--board-size));
    grid-column: 2;
    grid-row: 2;
}

.grid-map,
.ship-overlay,
.marker-overlay {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(var(--board-size), minmax(0, 1fr));
    grid-template-rows: repeat(var(--board-size), minmax(0, 1fr));
}

.grid-map {
    z-index: 1;

    background: radial-gradient(
        circle,
        rgba(254, 233, 233, 0) 15%,
        rgba(255, 177, 177, 0.1) 60%,
        rgba(173, 49, 30, 0.25) 85%,
        rgba(52, 2, 2, 0.1) 100%
    );
}

.grid-map::before,
.grid-map::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    background-color: rgb(71, 223, 250);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.grid-map::before {
    width: 30px;
    height: 2px;
}

.grid-map::after {
    width: 2px;
    height: 30px;
}

.ship-overlay {
    z-index: -1;
    pointer-events: none;
}

.marker-overlay {
    z-index: 3;
    pointer-events: none;
    overflow: hidden;
}

.marker-overlay.visible::before {
    opacity: 1;
}

.marker-overlay::before {
    content: "";
    position: absolute;
    opacity: 0.2;
    z-index: 0;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, transparent 56%, #e04141);
    pointer-events: none;
    animation: sweep 3.5s linear infinite;
    transition: opacity 1s ease;
}

.friendly .marker-overlay::before {
    background: linear-gradient(50deg, transparent 50%, #000000);
    filter: drop-shadow(-10px -10px 5px rgb(5, 9, 97));

    /* animation: none; */
}

@keyframes sweep {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.grid-cell {
    position: relative;
}

.grid-cell::after {
    content: "";
    position: absolute;
    inset: -0.25px;
    border: 0.5px solid white;
    opacity: 1;
    pointer-events: none;
    box-shadow: 0 0 12px rgba(255, 51, 0, 0.4);
    /* box-shadow: 0 0 12px rgba(255, 255, 255, .2); */
}

.grid-cell:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.grid-ship-container {
    position: relative;
    --ship-padding: 5px;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    z-index: 2;
    background: radial-gradient(
        circle at center,
        rgba(255, 107, 107, 0.1) 0%,
        rgba(174, 45, 45, 0.1) 70%,
        rgba(255, 4, 4, 0.1) 90%
    );
    padding: var(--ship-padding);
}

.grid-ship {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    min-width: 0;
    min-height: 0;
    pointer-events: none;
    user-select: none;
    opacity: 0.3;
    filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(2100%)
        hue-rotate(343deg) brightness(100%) contrast(96%);
}

.hostile .grid-ship {
    filter: brightness(0) invert(15%) drop-shadow(0 0 2px rgb(0, 0, 0))
        drop-shadow(0 0 1px rgb(0, 0, 0));

    opacity: 1;
}

.grid-ship-container.vertical .grid-ship {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--ship-length) * 100% - var(--ship-padding) * 2);
    height: calc(100% / var(--ship-length) - var(--ship-padding) * 2);
    max-width: none;
    max-height: none;
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center;
}

/* .atk-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    pointer-events: none;
} */

/* .atk-marker-symbol {
    position: relative;
    z-index: 2;
    display: block;
    line-height: 1;
    opacity: 0;
    animation: marker-pop 250ms 350ms ease-out forwards;
} */

.atk-marker {
    position: relative;
    pointer-events: none;
    overflow: visible;
    border: 2px dashed transparent;
    animation: targeted 250ms ease 0ms 3;
}

@keyframes targeted {
    0% {
        border-color: rgb(255, 255, 255);
    }

    50% {
        border-color: rgba(255, 255, 255, 0);
    }
    100% {
        border-color: rgb(255, 255, 255);
    }
}

.atk-marker::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 12.5rem;
    border-radius: 1rem;
    background-color: #fefefe;
    opacity: 1;
    z-index: 1;
    transform: translate(-37.5rem, -40.625rem) rotate(-315deg);
}

.atk-marker::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    opacity: 0;
    z-index: 0;
}

.hit-marker {
    color: red;
}

.hit-marker::before {
    animation: shot 350ms 175ms forwards;
}

.hit-marker::after {
    background: rgba(255, 0, 0, 0.45);
    animation: ripple 750ms 350ms ease-out forwards;
}

.miss-marker {
    color: #7dd3fc;
}

.miss-marker::before {
    animation: miss 350ms 175ms forwards;
}

.miss-marker::after {
    background: rgba(255, 255, 255, 0.45);
    animation: ripple 750ms 350ms ease-out forwards;
}

@keyframes shot {
    50% {
        width: 5rem;
        background-color: #fefefe;
        border-color: #fefefe;
    }

    100% {
        width: 30%;
        background-color: rgba(255, 0, 0, 0.85);
        border-color: rgba(255, 0, 0, 0.5);
        transform: translate(-50%, -50%) rotate(-315deg);
    }
}

@keyframes miss {
    50% {
        width: 5rem;
        background-color: #fefefe;
        border-color: #fefefe;
    }

    100% {
        width: 30%;
        background-color: rgba(255, 255, 255, 0.85);
        border-color: rgba(120, 120, 120, 0.5);
        transform: translate(-50%, -50%) rotate(-315deg);
    }
}

@keyframes marker-pop {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}
