#fleet-placement-screen {
    /* max-width: 700px; */
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    user-select: none;
}

#grid-fleet-container {
    width: 100%;
    width: max-content;
    /* max-width: 720px; */
    /* border: green 2px solid; */
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow:
        0 0px 5px rgba(255, 0, 0, 0.4),
        0 0px 5px rgba(255, 0, 0, 0.4),
        0 0px 5px rgba(255, 0, 0, 0.4),
        0 0px 20px rgba(118, 0, 0, 0.4),
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 51px rgba(239, 68, 68, 0.2);

    box-shadow:
        0 0px 3px rgba(255, 0, 0, 0.5),
        /* 0 0px 5px rgba(255, 0, 0, 0.4), */ /* 2px 2px 10px rgba(255, 0, 0, 0.4), */ 0
            0px 10px rgba(0, 0, 0, 0.8),
        /* 0 0px 12px rgba(0, 0, 0, .5), */ inset 0 1px 0 rgba(255, 255, 255, 0.2),
        inset 0 -1px 0 rgba(255, 255, 255, 0.2),
        inset 0 0 51px rgba(239, 68, 68, 0.2);

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.board-and-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fleet-container {
    flex: 1;
    min-width: 0;
    /* border: yellow 3px solid; */
    padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    /* min-width: 0; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ship-card {
    /* take up remaining free space */
    position: relative;
    flex: 1;
    width: 110px;
    height: 100px;
    /* border: .125rem solid rgb(179, 179, 179); */
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 2px rgba(var(--friendly-dark), 0.5);

    overflow: hidden;
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    --border: 3px solid rgba(110, 101, 101, 0.7);
}

.fleet-container > :first-child{
    animation: ship-attention 1s linear infinite;
}

.fleet-container > :first-child.placed-ship{
    animation: none;
}

@keyframes ship-attention {
    0%,
    100% {
        transform: scale(0.98);
    }
    50% {
        transform: scale(1.08);
    }
}

.ship-card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(255, 255, 255, 0.7)
    );

    transform: rotate(-45deg);
    opacity: 0;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;

    pointer-events: none;
    z-index: 1;
}

.ship-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 2px rgba(var(--friendly-med), 0.5);
}

.ship-card:hover::before {
    opacity: 0.8;
    transform: rotate(-45deg) translateY(100%);
}

.corner {
    position: absolute;
    width: 10px;
    height: 10px;
    pointer-events: none;
}

.top-left {
    top: 0px;
    left: 0px;
    border-top: var(--border);
    border-left: var(--border);
    border-top-left-radius: 0.5rem;
}

.top-right {
    top: 0px;
    right: 0px;
    border-top: var(--border);
    border-right: var(--border);
    border-top-right-radius: 0.5rem;
}

.bottom-left {
    bottom: 0px;
    left: 0px;
    border-bottom: var(--border);
    border-left: var(--border);
    border-bottom-left-radius: 0.5rem;
}

.bottom-right {
    bottom: 0px;
    right: 0px;
    border-bottom: var(--border);
    border-right: var(--border);
    border-bottom-right-radius: 0.5rem;
}

.ship-icon-wrapper {
    /* take up remaining free space */
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 1rem;
    /* min-height: 0; */
    /* border: rgba(255, 255, 0, 0.5) dashed 2px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.fleet-container img.ship-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: invert(100%) drop-shadow(0px 0px 3px rgba(255, 0, 0, 1));
}

#battleship {
    max-width: 80%;
}

#destroyer {
    max-width: 60%;
}

#submarine {
    max-width: 60%;
}

#patrol-boat {
    max-width: 50%;
}

.ship-card p {
    margin: 0;
    text-align: center;
    /* border: red 1px solid; */
}

.ship-preview {
    background-color: rgba(0, 128, 255, 0.3);
}

.ship-preview-invalid {
    background-color: rgba(255, 0, 0, 0.3);
}

.placed-ship {
    opacity: 60%;
    pointer-events: none;
}

.placed-ship::before {
    pointer-events: none;
}

.placed-ship img.ship-icon {
    filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 0.8));
}

.button-panel {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.button-panel button {
    border-radius: 0.2em;
    padding-block: 0.5em;
    padding-inline: 0.7em;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
    font-size: 0.9rem;
}

.button-panel button.change-orientation-btn {
    width: 235px;
}

.button-panel button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        -65deg,
        transparent 40%,
        rgba(255, 255, 255, 0.45) 50%,
        transparent 70%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    animation: shine 3s ease infinite;
    pointer-events: none;
}

@keyframes shine {
    0% {
        background-position: 130%;
        opacity: 1;
    }

    100% {
        background-position: -166%;
        opacity: 0;
    }
}

.button-panel button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px #0004;
}

.confirm-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
