@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --cell-size: 40px;
    --board-size: 10;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Quantico", sans-serif;
    font-size: 16px;
    color: white;
}

button,
input,
textarea,
select {
    color: inherit;
    font: inherit;
}

body {
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(20, 30, 40, 0.1), rgba(20, 30, 40, 0.7)),
        url("../assets/23604548_sl_112119_25250_20.svg");
    background-size: 150% auto;
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
}

#app {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    height: calc(var(--cell-size) * var(--board-size)); /* 400 px */
    width: calc(var(--cell-size) * var(--board-size)); /* 400 px */
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
}

.grid-cell {
    /* height: 5px;
    width: 5px; */
    border: black 1px solid;
}
