#rules-modal[open] {
    margin: auto;
    padding: 2em;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    color: white;
}

dialog::backdrop {
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(10px);
}

.header {
    width: 100%;
}

#rules-modal h1 {
    font-size: 1.6rem;
    color: rgb(var(--friendly-light));
}

.objective {
    margin-top: 0.25em;
}

#rules-modal ol {
    list-style: none;
    counter-reset: rules;
    margin-top: 0.25em;
    padding: 0;

}

#rules-modal li {
    counter-increment: rules;
    display: grid;
    grid-template-columns: 2rem 1fr;
    margin-bottom: 0.5rem;
}

#rules-modal li::before {
    content: counter(rules) ".";
    justify-self: start;
}

#rules-modal button {
    margin: 0 auto;
}
